<a href="https://colab.research.google.com/github/p-jh0/oss_0310/blob/main/oss0317.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 공학용 계산기 개발의 필요성
본 프로젝트는 많은 학생들이 공학용 계산기를 구매해야하는 문제를
해결하기 위해 만들었습니다.

## 지수값 구하기

In [3]:
# @title Example form fields
# @markdown Forms support many types of fields.

no_type_checking = ''  # @param
string_type = 'example'  # @param {type: "string"}
slider_value = 142  # @param {type: "slider", min: 100, max: 200}
number = 102  # @param {type: "number"}
x = 20 # @param {type: "number"}
y = 100 # @param {type: "number"}
date = '2010-11-05'  # @param {type: "date"}
pick_me = "monday"  # @param ['monday', 'tuesday', 'wednesday', 'thursday']
select_or_input = "apples" # @param ["apples", "bananas", "oranges"] {allow-input: true}
# @markdown ---

In [4]:

x6=x*x*x*x*x*x
x6

64000000